- provide(:title, "Sign in")
%h2 Sign in
.row
	.col-md-8
		= form_for(:sessions, url: sessions_path) do |f|
			.form-group
				= f.label :email
				= f.text_field :email, class: "form-control"
			.form-group
				= f.label :password
				= f.password_field :password, class: "form-control"
			.form-group
				= f.submit "Sign in", class: "btn btn-large btn-primary"

	.col-md-4 
		%aside
			.span4
				%section
					%h1 
						New user?
					%h1
						%button.btn
							= link_to "Sign up now!", signup_path