- provide(:title, "Edit user")
%h2 Update your profile

.row
	.col-md-7
		= form_for (@user) do |f|
			.form-horizontal
				= render 'shared/error_messages', object: f.object

				= render 'fields', f: f

				= f.submit "Save changes", class: "btn btn-large btn-primary"

		

	.col-md-4
		%aside
			.span4
				%section
					%ul
						%li
							The available icons are listed
							= link_to "http://getbootstrap.com/components/#glyphicons-glyphs", :tarbet => "_blank" do
								here.
						%li
							
							Your picture can be changed
							= link_to "http://gravatar.com/emails", :target => "_blank" do 
								here.
							= gravatar_for @user