- provide(:title, @user.name)


.row
	
	.span8
		%h1
			:erb
				<%= @user.name[/(\S+(\s+)?){,#{1}}/].strip%>'s blog
		= render 'shared/feed'
	%aside
		%section
			%h1
				= gravatar_for @user
				= @user.name
				- if current_user?(@user)
					.btn
						= link_to "Create new post", new_page_path(@user)

