= form_for(@page) do |f|
	= render 'shared/error_messages', object: f.object
	.field
		= f.text_field :title,	placeholder: "Title"
		= f.text_area :content, placeholder: "Write a new post..."
		Sequence?
		= f.check_box :sequence
		Public?
		= f.check_box :public
	= f.submit "Post", class: "btn btn-large btn-primary"