%aside
	%section
		
		.blogroll
			
			%a.thumbnail{href: username_url(@user.user_alias)}
				%h1.subtle-link
					= @user.name
				= gravatar_for(@user, size: 200)
				.caption
					= @user.bio unless @user.bio.nil?
			
			- #if @display
			!~ kramdown @user.sidebar unless @user.sidebar.nil?
			%h2
				Recent posts
			%ul
				- @user.pages.all.each do |page| 
					- if page.public 
						%li
							%p
								= link_to page.title, page_path_helper(page) unless page.sequence
			%h1
				- if current_user?(@user)
					- if @display
						= button_to "Create new post", new_page_path(@user), :class => "btn", :method => :get
			
