%aside
	%section
		
		.blogroll
			
			%a.thumbnail{href: username_url(@user.user_alias)}
				%h1.subtle-link
					= @user.name
				= gravatar_for(@user, size: 200)
				.caption
					= @user.bio unless @user.bio.nil?
			
			- #if @display
			!~ kramdown @user.sidebar unless @user.sidebar.nil?
			= auto_discovery_link_tag :atom, "/feed" 
			= auto_discovery_link_tag :rss, "/feed.rss" 
			%h2
				Recent posts
			%ul
				- @user.pages.all.each do |page| 
					- if page.public 
						%li
							%p
								= link_to page.title, page_path_helper(page) unless page.sequence
			%h2
				Recent comments
			%ul
				- Comment.all.each do |comment| 
					- @comment_page = Page.find(comment.page_id)
					- if @comment_page.user_id == @user.id  
						%li

							.page-comment>
								%a(href = "http://#{comment.website}")
									= comment.name
								says	
							= link_to comment.content, page_path_helper(@comment_page)
			%h1
				- if current_user?(@user)
					- if @display
						= button_to "Create new post", new_page_path(@user), :class => "btn", :method => :get
					
			
